.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #ffffffde;
  color: #4a0519;
  border-radius: 2rem;
  padding: 2rem;
  min-width: 35%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2rem;
    min-height: 10rem;
    width: 100%;
    padding: 20px;
    border-color: #e71953;
    background-color: rgba(231, 25, 83, 0.2);
    border-style: dashed;
    border-width: 2px;
    color: #4a0519;
    outline: none;
    transition: border 0.24s ease-in-out;

    > svg {
      color: #e71953;
      width: 3rem;
      height: 3rem;
    }

    > p {
      font-size: 1.2rem;
      font-weight: 500;
      text-align: center;
    }

    > div {
      color: #4a0519;
      font-weight: 300;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      &::before,
      &::after {
        content: " ";
        margin: 0.5rem;
        padding: 0.5px;
        width: 5rem;
        background-color: #8d1a3b;
        color: #8d1a3b80;
      }
    }

    button {
      padding: 1rem;
      min-width: 170px;
      border-radius: 0.5rem;
      border: none;
      background-color: #e71953;
      color: white;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.24s ease-in-out;

      &:hover {
        background-color: #d3174b;
      }
    }
  }
}
